@page "/index"

<header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/HxD4Zp7v/Snapchat-17086115.jpg" alt="">
        </div>
        <ul class="nav-area">
            <li><NavLink class="nav-link" href="Index">Home</NavLink></li>
            <li><NavLink class="nav-link" href="AddAdult">Add Adult</NavLink></li>
            <li><NavLink class="nav-link" href="Adult">Show Adults</NavLink></li>
            <li><NavLink class="nav-link" href="SecurityLevel">Security Level</NavLink></li>
        </ul>
    </div>
    <div class="welcome-text">
        <h1>
            We are creative</h1>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact US</a>
    </div>
</header>



<SurveyPrompt Title="How is Blazor working for you?"/>
